{{- with .Genesis}}
genesis:
  {{- if .SigKey}}
  sig_key: {{ .SigKey }}
  {{- end}}
  {{- if .VrfKey}}
  vrf_key: {{ .VrfKey }}
  {{- end}}
  {{- if .NodeID}}
  node_id: {{ .NodeID }}
  {{- end}}
{{end}}
{{- with .Bft}}
bft:
  {{- if .SigningKey}}
  signing_key: {{ .SigningKey }}
  {{- end}}
{{end}}
